{% extends "shop_managing/shop.html" %}



{% block search %}
<!-- search -->
<div class="section">
<form method="post" action="{% url 'search_cart' shop.slug %}" class="search">
    {% csrf_token %}
    <input name="search" type="text" placeholder="Search Cart" id="keyword" />
    <input type="submit" value="Go" class="button" />
</form>
</div>
{% endblock search %}


{% block page_title %}
Carts List
{% endblock page_title %}


{% block middlepage %}

<!-- My Cart List -->
<div class="col-12">
<div class="card top-selling">

    <div class="card-body pb-0">
    <h5 class="card-title">{{ shop.title }} Carts</h5>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Change Status</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
        
        <tr>
            <td scope="row">{{ cart.title }}</td>
            <td>{{ cart.status }}</td>
            <td>
                {% if cart.status == 'Paid' %}
                <span><a href="{% url 'change_cart_status' cart.slug 'Canceled' %}">Canceled</a></span>
                {% elif  cart.status == 'Pending' %}
                <span><a href="{% url 'change_cart_status' cart.slug 'Confirmed' %}">Confirmed</a></span> /
                <span><a href="{% url 'change_cart_status' cart.slug 'Canceled' %}">Canceled</a></span>
                {% elif cart.status == 'Confirmed' %}
                <span><a href="{% url 'change_cart_status' cart.slug 'Paid' %}">Paid</a></span> /
                <span><a href="{% url 'change_cart_status' cart.slug 'Canceled' %}">Canceled</a></span>
                {% elif cart.status == 'Canceled' %}
                <span><a href="{% url 'change_cart_status' cart.slug 'Pending' %}">Pending</a></span>
                {% endif %}
            </td>

            <th scope="row"><a href="{% url 'cart_detail' cart.slug %}">|||||</a></th>
        </tr>

        {% endfor %}
        </tbody>
    </table>

    </div>

</div>
</div><!-- End Cart List -->
{% endblock middlepage %}

  
{% block cart_filter %}
<div class="card">
<div class="card-body pb-0">
    <h5 class="card-title">Cart Filter </span></h5>

    <div>
    <div class="post-item clearfix">
        <div><a href="{% url 'filter_cart' shop.slug 'All' %}">All</a></div>
        <div><a href="{% url 'filter_cart' shop.slug 'Pending' %}">Pending</a></div>
        <div><a href="{% url 'filter_cart' shop.slug 'Confirmed' %}">Confirmed</a></div>
        <div><a href="{% url 'filter_cart' shop.slug 'Canceled' %}">Canceled</a></div>
        <div><a href="{% url 'filter_cart' shop.slug 'Paid' %}">Paid</a></div>
    </div>
    </div>
</div>
</div>
{% endblock cart_filter %}