{% extends "shop_managing/shop.html" %}

{% block page_title %}
Carts List
{% endblock page_title %}


{% block middlepage %}

<!-- My Cart List -->
<div class="col-12">
    <div class="card top-selling">
    
        <div class="card-body pb-0">
        <h5 class="card-title">{{ shop.title }} Carts</h5>
    
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
            
            <tr>
                <td scope="row">{{ cart.title }}</td>
                <td>
                    <select id="cart_status" name="state">
                        <option value="Pending"><a href="">{{ cart.status }}</a></option>
                        {% for stat in status %}
                            {% if cart.status != stat %}
                            <option value={{stat}}>{{stat}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <th scope="row"><a href="{% url 'cart_detail' cart.slug %}">|||||</a></th>
            </tr>
    
            {% endfor %}
            </tbody>
        </table>
    
        </div>
    
    </div>
    </div><!-- End Cart List -->

{% endblock middlepage %}