{% extends "shop_managing/shop.html" %}

{% block page_title %}
Carts List
{% endblock page_title %}


{% block middlepage %}

<!-- My Cart List -->
<div class="col-12">
    <div class="card top-selling">
    
        <div class="card-body pb-0">
        <h5 class="card-title">Cart Items</h5>
    
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.amount }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    
        </div>
    
    </div>
    </div><!-- End Cart List -->

{% endblock middlepage %}