{% extends "shop_managing/shop.html" %}


{% block page_title %}
Products List
{% endblock page_title %}

{% block middlepage %}

<!-- My Cart List -->
<!-- Reports -->
<div class="col-12">
    <div class="card">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
      </div>

      <div class="card-body">
        <h5 class="card-title">{{shop.title}} Reports</h5>

        <!-- Line Chart -->
        <div id="reportsChart">

           <!--                  nemoodar                  -->


        </div>
        <!-- End Line Chart -->
      </div>
    </div>
</div><!-- End Reports -->



<div class="col-12">
    <div class="card top-selling">
    
        <div class="card-body pb-0">
        <h5 class="card-title">{{shop.title}} Products</h5>
    
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            
            <tr>
                <td scope="row">{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.amount }}</td>
                <td><img src="{{product.image.url}}" alt=""></td>
                <td>{{ product.description}}</td>
            </tr>
    
            {% endfor %}
            </tbody>
        </table>
    
        </div>
    
    </div>
    </div><!-- End Cart List -->

{% endblock middlepage %}