{% extends "shop_managing/shop.html" %}


{% block page_title %}
Dashboard
{% endblock page_title %}


{% block middlepage %}
<!-- Reports -->
<div class="col-12">
    <div class="card">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>

          <li><a class="dropdown-item" href="#">Today</a></li>
          <li><a class="dropdown-item" href="#">This Month</a></li>
          <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
      </div>

      <div class="card-body">
        <h5 class="card-title">Reports</h5>

        <!-- Line Chart -->
        <div id="reportsChart">

           <!--                  nemoodar                  -->

        </div>
        <!-- End Line Chart -->

      </div>

    </div>
</div><!-- End Reports -->


<!-- My Shop List -->
<div class="col-12">
<div class="card top-selling">

    <div class="card-body pb-0">
    <h5 class="card-title">My Shops</h5>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Carts</th>
            <th scope="col">Shop Type</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
        
        <tr>
            <th scope="row"><a href="{% url 'product_list' shop.slug %}">{{ shop.title }}</a></th>
            <th scope="row"><a href="{% url 'cart_list' shop.slug %}">|||||</a></th>
            <td>{{ shop.shop_type }}</td>
            <td>{{ shop.status }}</td>
            <td><a href="{% url 'update_shop' shop.slug %}">|||||</a></td>
            <td><a href="{% url 'delete_shop' shop.slug %}">|||||</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>

    </div>

</div>
</div><!-- End Shop List -->


<!-- Customer List -->
<div class="col-12">
  <div class="card top-selling">
  
      <div class="card-body pb-0">
      <h5 class="card-title">Customers</h5>
  
      <table class="table table-borderless">
          <thead>
          <tr>
              <th scope="col">Customer Email</th>
              <th scope="col">Last Purchase Date</th>
              <th scope="col">Number of Paid Carts</th>
              <th scope="col">Total Paid</th>
              <th scope="col">Number of products</th>
          </tr>
          </thead>
          <tbody>
          {% for customer in customers %}

          <tr>              
              <th scope="row">{{ customer.email }}</th>
              <th>{{ customer.last_cart_date }}</th>
              <td>{{ customer.num_carts }}</td>
              <td>{{ customer.total_paid }}</td>
              <td>{{ customer.num_products }}</td>
          </tr>
  
          {% endfor %}
          </tbody>
      </table>
  
      </div>
  
  </div>
  </div><!-- End Customer List -->
{% endblock middlepage %}



