{% extends "post/class_base.html" %}
{% load static %}

{% block title %}
  Edit category/tag
{% endblock title %}


{% block menu %}
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'contact' %}">Contact me</a></li>
    <li><a href="{% url 'add_post' %}">Add New Post</a></li>
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock menu %}


{% block content %}
  {% if request.user.is_authenticated %}

    {% if page == 'categories' %}
      <hr>
      <span><a href="{% url 'add_category' %}" class="btn btn-outline-secondary btn-sm">Add New Category</a></span>
      <hr>
      {% for category in my_categories %}
      <div class="postbody">
      <h1>{{category.title}}</h1><br><br>
      <span><a href="{% url 'delete_category' category.slug %}" class="btn btn-outline-danger btn-sm">Delete Category</a></span>
      <span><a href="{% url 'update_category' category.slug %}" class="btn btn-outline-danger btn-sm">Update Category</a></span>
      </div>
      {% endfor %}


    {% elif page == 'tags' %}
      <hr>
      <span><a href="{% url 'add_tag' %}" class="btn btn-outline-secondary btn-sm">Add New Tag</a></span>
      <hr>
      {% for tag in my_tags %}
      <div class="postbody">
      <h1>{{tag.title}}</h1><br><br>
      <span><a href="{% url 'delete_tag' tag.slug %}" class="btn btn-outline-danger btn-sm">Delete Tag</a></span>
      <span><a href="{% url 'update_tag' tag.slug %}" class="btn btn-outline-danger btn-sm">Update Tag</a></span>
      </div>
      {% endfor %}

    {% endif %}

  {% endif %}
{% endblock content %}