{% extends "post/class_base.html" %}
{% load static %}


{% block title %}
  delete confirmation
{% endblock title %}

{% block menu %}

{% endblock menu %}


{% block content %}

<form method="post" action="">
    {% csrf_token %}
      <h1>Are you sure you want to delete?</h1><br>
      <div class="my-5">
        <input class="btn btn-danger" type="submit" value="Yes" />
        {% if page == 'category' %}
        <a href="{% url 'categories' %}"><div class="btn btn-primary">Cancel</div></a>
        {% elif page == 'tag' %}
        <a href="{% url 'tags' %}"><div class="btn btn-primary">Cancel</div></a>

        {% elif page == 'post' %}
        <a href="{% url 'dashboard' %}"><div class="btn btn-primary">Cancel</div></a>
        {% endif %}
      </div>
</form>
{% endblock content %}
