{% extends "post/class_base.html" %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block menu %}
{% if request.user.is_authenticated %}
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'contact' %}">Contact me</a></li>
    <li><a href="{% url 'add_post' %}">Add New Post</a></li>
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'shop_home' %}">Shop</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

{% else %}
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'contact' %}">Contact me</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    {# <li><a href="{% url 'register' %}">Register</a></li> #}
</ul>
{% endif %}

{% endblock menu %}


{% block content %}
    <div style="margin-bottom: 70px;">
        <h1>{{post.title}}</h1><br><br>
        <div class="publish_info">Author: {{post.author.get_full_name}} ··· Post Date: {{post.created_at}} ··· Categories: <a href="#">{% for category_ in post.category.all %}{{category_.title}}, {% endfor %}</a></div>
        <div class="publish_info">Tags: {% for tag_ in post.tag.all %}{{tag_.title}}, {% endfor %}</div><br>
        <img src='{{post.image.url}}'/><p>{{post.content}}</p>
    </div>
    <br>
    <br>
    <div class="postDetailComment">
        <h2>Comments: </h2><br>

        {% for comment in comments %}
            <h1>{{comment.title}}</h1><br><br>
            <div class="">Author: {{comment.author.get_full_name}} ··· Comment Date: {{comment.created_at}}</div>
            <p>{{comment.content}}</p>
            <br>
        {% endfor %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'add_comment' post.slug %}" class="btn btn-outline-secondary btn-sm my-4" > Add Comment </a>
        {% endif %}
    </div>
{% endblock content %}
